@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap");

:root {
  --background-color: #ffffff;
  --foreground-color: #000000;
  --primary-color: #037d40;
  --secondary-color: #e6f2ec;
  --footer-color: #01351b;
}

.dark {
  --background-color: #121212;
  --foreground-color: #ffffff;
  --primary-color: #90caf9;
  --secondary-color: #37474f;
  --footer-color: #0a1f1b;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #121212; Dark background */
    /* --foreground: #ededed; Lighter text for dark mode */
  }
}

.bg-background {
  background-color: var(--background-color);
}
.text-foreground {
  color: var(--foreground-color);
}
.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.bg-footer {
  background-color: var(--footer-color);
}
.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-kanit); /* Apply Kanit font */
}

/* Ensure Tailwind applies its utilities */
body {
  @apply font-sans; /* This ensures Tailwind uses the font-family defined in the config */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-padding {
  padding-left: 100px;
  padding-right: 20;
  padding-top: 30px;
  padding-bottom: 10px;
}

.custom-shape {
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}
